@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
	font-family: Roboto, Arial, Helvetica, sans-serif;
}

* {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
	overflow: hidden;
	margin: 0;
}

main {
	height: 100vh;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(16, 1fr);
	grid-template-rows: repeat(16, 1fr);
	grid-gap: 1px;
	background-color: grey;
}

div {
	background-color: royalblue;
}

.color-change {
	background-color: hotpink;
}
